{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 style="line-height: 1.5;">Sign to Sound, Text to Gesture: Redefining Communication in Every Language, 
Understanding the Heartfelt Expressions. Our team is a diverse and passionate
group dedicated to making a difference in the lives of the deaf and hard of hearing
community. Each member brings a unique perspective and expertise, united by a common goal: 
to break down communication barriers and promote inclusivity. Get to know the faces behind our
mission as we continue to push the boundaries of possibility and transform the way the world 
communicates.</h2>
<h2 align="center">Know The Team:</h2>
<div class="team-members">
    <div class="member">
        <img src="{% static 'chelsi.jpg' %}" alt="Kashish" class="circle">
        <p>KASHISH</p>
        <p>102117150</p>
    </div>
    <div class="member">
        <img src="{% static 'chelsi.jpg' %}" alt="Chelsi" class="circle">
        <p>CHELSI</p>
        <p>102117161</p>
    </div>
    <!-- <div class="member">
        <img src="{% static 'vineet.jpg' %}" alt="Ramjas Langdi" class="circle">
        <p>RAMJAS LANGDI</p>
        <p>102117159</p>
    </div>
    <div class="member">
        <img src="{% static 'vineet.jpg' %}" alt="Vineet Mehar" class="circle">
        <p>VINEET MEHAR</p>
        <p>102117129</p>
    </div>
    <div class="member">
        <img src="{% static 'vineet.jpg' %}" alt="Madhav Gupta" class="circle">
        <p>MADHAV GUPTA</p>
        <p>102115029</p>
    </div> -->
</div>
{% endblock %}

